/* Footer Styles */
.footer {
  background-color: #ffffff;
  color: #4b4206;
  padding: 20px;
  text-align: center; /* Center the main footer text */
  font-family: Arial, sans-serif;
}

.footer-line {
  height: 1px; /* Thickness of the yellow line */
  background-color: yellow; /* Line color */
  margin-bottom: 10px; /* Space between the line and the footer content */
}

.footer-container {
  display: flex;
  padding: 0 50px 0 50px;
  justify-content: space-between;
  align-items: flex-start; /* Align items at the top */
  text-align: justify; /* Justify the content within the footer */
}

.footer-about h2 {
  font-size: 1.5rem;
  text-align: justify; /* Ensure headings are justified if needed */
  color: #4b4206;
}

.footer-skills h3,
.footer-contact h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  text-align: center;
}

.footer-skills p,
.footer-contact a {
  margin: 0;
  line-height: 1.8;
  text-align: justify; /* Justify the paragraph text and links */
}

.footer-contact a {
  color: #4b4206;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.footer-contact a:hover {
  color: #1abc9c;
}


.footer-social {
  display: flex;
  gap: 10px;
  justify-content: center; /* Center-align social icons */
}

.social-icon img {
  width: 24px;
  height: 24px;
  filter: invert(100%);
  transition: transform 0.3s;
}

.social-icon:hover img {
  transform: scale(1.1);
}

.footer-bottom {
  margin-top: 50px;
  font-size: 0.875rem;
  text-align: center; /* Center-align the bottom text */
}
